@property --card-bg {
	syntax: "<color>";
	inherits: false;
	initial-value: #357ac9;
}

@property --shine-1 {
	syntax: "<color>";
	inherits: false;
	initial-value: #357ac9;
}

@property --shine-2 {
	syntax: "<color>";
	inherits: false;
	initial-value: #357ac9;
}

.section-header {
	background: transparent;
	/* background: radial-gradient(300px circle at 55% 60% in oklab, var(--shine-2), transparent 100% 100%), */
	/* radial-gradient(farthest-side circle at 75% 30% in oklab, var(--shine-1) 0%, var(--card-bg) 100%); */
	/* background-blend-mode: soft-light; */
	/* animation: animate-color-1 30s infinite linear alternate, 20s animate-color-2 10s infinite linear alternate; */
}

.gradient-section {
	background:
		/* radial-gradient(300px circle at 55% 60% in oklab, var(--shine-2), transparent 100% 100%), */
		radial-gradient(farthest-side circle at 75% 30% in oklab, var(--shine-1) 0%, var(--card-bg) 100%);
	background-blend-mode: soft-light;
	animation: animate-color-1 10s infinite linear alternate, 5s animate-color-2 10s infinite linear alternate;
}


@keyframes animate-color-1 {
	from {
		--shine-1: initial;
	}

	to {
		--shine-1: #204875;
	}
}

@keyframes animate-color-2 {
	from {
		--shine-2: initial;
	}

	to {
		--shine-2: #357ac9;
	}
}



/* About */

@property --card2-bg {
	syntax: "<color>";
	inherits: false;
	initial-value: #828eb133;
}

@property --shine2-1 {
	syntax: "<color>";
	inherits: false;
	initial-value: #9aaacc;
}

@property --shine2-2 {
	syntax: "<color>";
	inherits: false;
	initial-value: #798094c4;
}


@keyframes animate2-color-1 {
	from {
		--shine2-1: initial;
	}

	to {
		--shine2-1: #ffffff44;
	}
}

@keyframes animate2-color-2 {
	from {
		--shine2-2: initial;
	}

	to {
		--shine2-2: #ffffff33;
	}
}

.card-background {
	background:
		/* radial-gradient(300px circle at 30% 30% in oklab, var(--shine2-2), transparent 100% 100%), */
		radial-gradient(farthest-side circle at 50% 50% in oklab, var(--shine2-2) 0%, var(--card2-bg) 100%);
	background-blend-mode: color-burn;
	/* animation: animate2-color-1 60s infinite linear alternate, 40s animate2-color-2 50s infinite linear alternate; */
}