@property --hue1 {
	syntax: "<angle>";
	inherits: false;
	initial-value: 0deg;
}

@property --hue2 {
	syntax: "<angle>";
	inherits: false;
	initial-value: 0deg;
}


.button-gradient-section {
	text-align: center;
	overflow-x: hidden;
	background-image: linear-gradient(in oklch longer hue to right,
			oklch(0.93 0.08 var(--hue1) / 10%),
			oklch(0.93 0.08 var(--hue2) / 10%)),
		linear-gradient(in oklch longer hue to bottom,
			oklch(0.93 0.08 var(--hue1) / 10%),
			oklch(0.93 0.08 var(--hue2) / 10%));

	background-size: 100% 100%;
	animation-name: anim_bg;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes anim_bg {
	0% {
		--hue1: 0deg;
		--hue2: 300deg;
	}

	100% {
		--hue1: 360deg;
		--hue2: 660deg;
	}
}


/* game */

#main-wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

#game {
	display: flex;
	height: 100%;
	flex-flow: wrap;
	justify-content: center;
	display: grid;
	gap: 1px;
	grid-template-columns: repeat(3, 1fr);
	aspect-ratio: 1/1;

}

.hideout {
	position: relative;
	margin: 10px;
	width: 70px;
	height: 70px;
	border-radius: 5px;
	overflow: hidden;
	background: radial-gradient(circle at 50% 105%, #000 0, #1f1f1f 50px, transparent 51px);
}

.mole {
	display: block;
	width: 40px;
	height: 60px;
	background: #8d9db3;
	border-radius: 50% 50% 0 0;
	position: absolute;
	left: 10px;
	top: 100%;
	animation: peekaboo 10s linear infinite var(--delay);
}

.mole:after {
	content: '';
	display: block;
	position: absolute;
	width: 6px;
	height: 4px;
	background: #c73535;
	border-radius: 50%;
	top: 28px;
	left: 25px;
}

.mole:before {
	content: '';
	display: block;
	position: absolute;
	width: 10px;
	height: 8px;
	border: 3px solid black;
	border-radius: 50%;
	top: 25px;
	left: 23px;
	border-bottom-color: transparent;
	border-bottom: 0;
	border-right: 0;
	border-left: 0;
	box-shadow: -12px -3px 0px 0px #697b93, 12px -3px 0px 0px #697b93, 12px -3px 0px 2px black, -12px -3px 0px 2px black;
	background: #cec0c0;
}

.branch {
	display: block;
	width: 50px;
	height: 50px;
	background: #512d03;
	border-radius: 50% 50% 0 0;
	position: absolute;
	left: 9px;
	top: 100%;
	background-image: radial-gradient(ellipse 5px 4px at 50% 37%, #994b04 0, #7e4109 5px, #994b04 8px, #7e4109 10px, #994b04 15px, #7e4109 14px, #994b04 20px, #7e4109 25px, #512d03 28px, transparent 30px), linear-gradient(90deg, rgba(0, 0, 0, .3), transparent, rgba(136, 84, 30, 0.3));
	animation: peekaboo 10s linear infinite var(--delay);
}

.branch:before {
	content: "";
	display: block;
	width: 60px;
	height: 60px;
	background: #512d03;
	background-image: linear-gradient(90deg, rgba(0, 0, 0, .3), transparent, rgba(136, 84, 30, 0.3));
	position: absolute;
	bottom: -50px;
}

.branch:after {
	display: block;
	width: 15px;
	height: 25px;
	background: #512d03;
	transform: rotate(89deg) skew(32deg);
	border-radius: 26% 19% 0 0;
	position: absolute;
	left: 56px;
	top: 30px;
	background-image: radial-gradient(ellipse 5px 4px at 50% 37%, #994b04 0, #994b04 2px, #7e4109 5px, #512d03 9px, transparent 10px);
	background-image: radial-gradient(ellipse 8px 3px at 50% 8%, #994b04 0, #994b04 2px, #7e4109 5px, #512d03 9px, transparent 10px);
	box-shadow: 1px 0px 0px 0px #331407;
	content: "";
}

.endscreen {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: #0000007e;
	color: #9fc6ff;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 32px;
	padding: 1rem;
}

.endscreen:target {
	display: flex;
}

.cta {
	display: inline-block;
	color: #ffffff;
	background: #2449af;
	border-radius: 22px;
	padding: 1rem;
	text-decoration: none;
	font-size: 24px;
}

@keyframes peekaboo {

	0%,
	10% {
		top: 100%;
	}

	5% {
		top: 30%;
	}
}